body {
  background-color: gray;
  color: yellow;
}

#headerSection {
  color: white;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
  border-color: blue;
  text-align: center;
}

#myName {
  text-align: center;
  color: black;
  font-size: 25px;
  
}