body {
  background-color: black;
}

#headerSection {
  color: white;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
  border-color: red;
}