body {
  background-color: black;
  color: yellow;
}

#headerSection {
  color: white;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
  border-color: red;
  text-align: center;
}

#mainArea {
  background-color: gray;
}

#footerSection {
  color: white;
  border-style: solid;
  border-top-width: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-color: blue;
  text-align: center;
}