body {
  background-color: white;
}

p {
  color: black;
}

li {
  color: black;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

h4 {
  color: black;
}

h5 {
  color: black;
}

h6 {
  color: black;
}




/*#headerSection {
  color: gray;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
  border-color: red;
  text-align: center;
}*/

/*#mainArea {
  padding-left: 25%;
  padding-right: 25%;
}*/

/*#myName {
  text-align: center;
  color: green;
  font-size: 180%;
}*/

/*#footerSection {
  color: gray;
  border-style: solid;
  border-top-width: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-color: red;
  text-align: center;
}*/